body{
    background-color:#050a30 ;
    color: aliceblue;
}

.h2, h2 {
    font-size: calc(1.025rem + .9vw);
  }
header{
    position: sticky;
    top: 0px;
    border-bottom: 1px solid white;
    overflow: visible;
    z-index: 1;
}
.main-bg{
    background-color:#021A34 ;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgb(160, 178, 255);
    padding-right: 50px;
  }

.navbar-dark .navbar-nav .nav-link:hover{
    color: rgb(255, 255, 255);
    transition: 0.2s;
    transform: scale(1.03);
    text-shadow: 0 0 1px;
}
.title{
    font-size: calc(10% + 5vw + 2vh);
    font-weight: bolder;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#slide1 {
    height: max-content;
    background-color: #050a30;
}
#slide11{
    width: 100%;
    font-size: 50px;
    margin-right: 100px;
    text-align: center;
}
#slide11 a{
    text-decoration: none;
    color: #050a30;
}
#slide11 h1,#slide12 {
    text-align: center;
    padding: 55px 0px;
}

#slide11 button{
    color: #050a30;
    font-family :Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 30px;
    padding: 30px;
    margin-top: 50px;
    font-weight: bolder ;
    border-radius: 25px;
}
#slide12 img{
    width: calc(25% + 5vw + 2vh);
}
#slide2 {
    padding: 50px 0px;
    height: max-content;
    background-color: #cae8ff;
    color: #050a30;
}

#slide21{
    padding: 0px 50px;
}
#slide21 h2{
    font-weight: lighter;
    margin:  50px 0px;
}

#slide22 img{
    margin-right: 50px;
    width: 80%;
    margin:  50px 0px;
    border: 2px ridge #021A34;
    border-radius: 60px;
}
#slide3 {
    width: 100%;
    height: max-content;
    background-color: #5cb6f9;
    text-align: center;
    color: #050a30;
    font-weight: bolder;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#slide32{
    background-color: transparent;
    font-size: 20px;
    align-content: center;
}

#slide32 .box{
    color: #cae8ff;
    margin: 20px 0px;
    padding: 20px;
    height: max-content;
    border-radius: 20px;
}
#slide32 .box:hover{
    box-shadow: 0px 0px 5px;
}

#slide32 .box img{
    width: 80%;
    margin-top: 20px;
    padding: 2px;
    color: #050a30;
    border-radius:10px ridge #021A34;
    box-shadow: 0px 0px 10px;
    border-radius: 10px;
}

#slide32 .box span h2{
    font-weight: bolder;
    margin: 5px 80px;
    padding-top: 10px;
    color:#050a30;
    text-shadow: 0 0 1px;
}

#slide32 .box span p{
    font-weight: lighter;
    margin: 0px 50px;
    color: #2f387a;
    text-shadow: 0 0 1px;
}

#slide4 {
    width: 100%;
    height: max-content;
    background-color: #ebeff8;
    text-align: center;
    color: #050a30;
    font-weight: bolder;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#slide42{
    align-items: center;
    background-color: transparent;
    font-size: 20px;
}

#slide42 .box{
    color: #050a30;
    margin : 20px 0px;
    padding: 20px;
    height: max-content;
    border-radius: 20px;
}
#slide42 .box:hover{
    box-shadow: 0px 0px 5px;
}

#slide42 .box img{
    width: 80%;
    margin-top: 20px;
    padding:2px;
    color: #050a30;
    border-radius:10px ridge #021A34;
    box-shadow: 0px 0px 20px;
    border-radius: 250px;
}

#slide42 .box span h2{
    font-weight: bolder;
    margin: 5px 80px;
    padding-top: 10px;
    color:#050a30;
    text-shadow: 0 0 1px;
}

#slide42 .box span p{
    font-weight: lighter;
    margin: 0px 50px;
    color: #2f387a;
    text-shadow: 0 0 1px;
}

footer{
    text-align: center;
}
a:hover {
    color: #ffffff;
    text-shadow: 0 0px 0px;
  }
a {
    color: #ffffff60;
}
.root{
    width: max-content;
}
#form1{
    padding: 60px;
    text-align: center;
    font-size: calc(60% + 0.09*5vw + 0.09vh);
}

#emailip{
    border-radius: 20px;
    text-align: center;
    border: 0px;
    padding: 5px 10px 5px 10px;
    background-color: #d7e1f8;
    font-weight: lighter;
    color: #000000;
}

#btnop{
    border-radius: 16px;
    padding: 5px 5px;
    font-weight: bolder;
    color: #021A34;
    border: 0px solid white;
}
#btnop:hover{
    color: whitesmoke;
    background-color:#be0b0b;
    cursor: pointer;
}

.Qlnk{
    list-style: none;
    text-align: left;
    padding: 2px 2px;
    font-size: 20px;
}
.head_box3{
    font-size: 30px;
}





.slnkul{
    list-style-position: inside;
    text-align: center;
}
.Slnk{
    display: inline;
    padding: 0px 15px;
    list-style: none;
    font-size: 20px;
}
.Slnk:hover{
    color: rgb(255, 255, 255);
    transition: 0.2s;
    transform: scale(1.05);
    text-shadow: 0 0 3px;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
  }
  
.hover-underline-animation::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.5px;
    bottom: 0;
    left: 0;
    background-color: whitesmoke;
    transition: transform 0.35s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
  }
  
  .hover-underline-animation.left::after {
    transform-origin: bottom left;
  }
  
  .hover-underline-animation.left:hover::after {
    transform-origin: bottom left;
  }

